* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #111114;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  max-width: 50rem;
  border-radius: 0.4rem;
  border: 1px solid #202024;
  padding: 1rem;
}

.container legend {
  font-size: 1.5rem;
  color: #37373e;
  background-color: #111114;
  padding: 0 0.8rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.button {
  color: #fff;
  padding: 0.5rem 1rem;
  border: 1px solid #202024;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 1.5rem;
}

/**** Counter ****/

#counter {
  font-size: 3rem;
  color: #00875f;
  padding-bottom: 1.5rem;
}

#incrementButton {
  background-color: #00875f;
}

#incrementButton:hover {
  background-color: rgba(0, 135, 95, 0.294);
}

#decrementButton {
  background-color: #870019;
}

#decrementButton:hover {
  background-color: rgba(135, 0, 25, 0.294);
}

#counterFooter {
  padding-bottom: 1rem;
}

/**** Content ****/

#contentGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
  gap: 1rem;
}

#content,
#contentMirror {
  width: 100%;
  height: 10rem;
  padding: 1rem;
  border: 1px solid rgba(0, 135, 95, 0.294);
  border-radius: 0.25rem;
  background-color: #202024;
  color: #fff;
  font-size: 1rem;
  resize: none;
}

#contentFooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  gap: 0.4rem;
  color: #fff;
  margin-top: 0.8rem;
  font-size: 1.2rem;
}

#contentLength {
  color: #00875f;
  font-weight: 900;
}